﻿@model ApplicationUser
@{
    ViewBag.Title = "Избриши вработен";
    ViewBag.TitleDescription = "";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            @using (Html.BeginForm("Delete", "Employees", FormMethod.Post, new { role = "form" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.Id)
                    <p>
                        Дали сте сигурни дека сакате да го избришете вработениот: <b>@Model.FullName </b>
                        со Email адреса: <b>@Model.Email</b>?
                    </p>
                    <p>Акцијата е неповратна!</p>

                    <div class="box-footer">
                        <input type="submit" value="Избриши вработен" class="btn btn-danger" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>