﻿@model PisCRM.Contracts.ApplicationUser

@using Roles = PisCRM.Contracts.Enums.Roles;

@{ ViewBag.Title = "Профил - " + Model.FullName;
 ViewBag.TitleDescription = "";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            <div class="box-body">
                <div class="form-group">
                    <label>Име и презиме: </label>@Model.FullName
                </div>

                <div class="form-group">
                    <label>Email адреса: </label>@Model.Email
                </div>

                <div class="form-group">
                    <label>Работна позиција: </label>@(!string.IsNullOrEmpty(Model.WorkPosition) ? Model.WorkPosition : "/")
                </div>

                @if (SiteSession.CurrentUser != null
                                    && SiteSession.CurrentUser.Role.RoleId == (int)Roles.Admin)
                {
                    var roleEnum = (Roles)Model.Role.RoleId;
                        <div class="form-group">
                        <label>Улога (роља): </label>@roleEnum.GetDescription()
                    </div>
                }

                <div class="form-group" data-property-name="file">
                    <label class="" for="file" style="display: block; clear: both;">Профилна слика</label>
                    <img src="@Model.ProfilePictureUrl" style="width: 120px; margin-bottom: 10px;" />
                </div>

            </div>
        </div>
    </div>
</div>