﻿@model PisCRM.Models.Employees.EditViewModel
@{
    ViewBag.Title = "Уреди вработен";
    ViewBag.TitleDescription = "Промени податоци за вработениот";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            @using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.CustomValidationMessage("CreateUserErrorResponse")

                    @Html.EditorForModel()

                    <div class="box-footer">
                        <input type="submit" value="Зачувај промени" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>



