﻿@{
    ViewBag.Title = "Вработени";
    ViewBag.TitleDescription = "Прегледај вработени";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box" id="ajax-paging-wrap">
            @Html.Action("IndexPaging")
        </div><!-- /.box -->
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function AjaxPagingCall(page, searchWord) {
            $.ajax({
                url: '@Url.Action("IndexPaging")',
                data: {
                    'page': page, 'searchWord': searchWord
                },
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('#ajax-paging-wrap').html(data);
                }
            });
            return false;
        }
    </script>
}