﻿@using PisCRM.Infrastructure.Alerts
@if (TempData.GetAlerts().Any())
{
    @*<div class="alert-container">*@
    foreach (var alert in TempData.GetAlerts())
    {
        <div class="alert @alert.AlertClass alert-dismissable">
            <i class="fa @alert.Icon"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @alert.Message
        </div>
    }
    @*</div>*@
}
