﻿@using Roles = PisCRM.Contracts.Enums.Roles;
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="~/Content/Template/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery.multiselect.widget/jquery.multiselect.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery.multiselect.widget/jquery.multiselect.filter.css" />
    <!-- Data Tables -->
    <link href="~/Content/Template/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Wysihtml5 Editor -->
    <link href="~/Content/Template/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Content/Template/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="/" class="logo">
            PIS CRM
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>
                                @SiteSession.CurrentUser.FullName
                                <i class="caret"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="@SiteSession.CurrentUser.ProfilePictureUrl" class="img-circle" alt="User Image" />
                                <p>
                                    @SiteSession.CurrentUser.FullName
                                    <small>@SiteSession.CurrentUser.WorkPosition</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    @Html.ActionLink("Уреди профил", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Уреди профил", @class = "btn btn-default btn-flat" })
                                </div>
                                <div class="pull-right">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Одјава</a>
                                    }
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li @if (ViewBag.CurrentController == "Home") { <text> class="active" </text>        }>
                        <a href="/">
                            <i class="fa fa-dashboard"></i> <span>Работна табла</span>
                        </a>
                    </li>
                    <li class="treeview @if (ViewBag.CurrentController == "Manage") { <text> active </text>  }">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Мој профил</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li @if ((ViewBag.CurrentController == "Manage") && ViewBag.CurrentAction == "Index") { <text> class="active" </text>          }>
                                <a href="/Manage/Index"><i class="fa fa-angle-double-right"></i> Уреди профил</a>
                            </li>
                            <li @if ((ViewBag.CurrentController == "Manage") && ViewBag.CurrentAction == "PersonalInfo") { <text> class="active" </text>           }>
                                <a href="/Manage/PersonalInfo"><i class="fa fa-angle-double-right"></i> Лични податоци</a>
                            </li>
                            <li @if ((ViewBag.CurrentController == "Manage") && ViewBag.CurrentAction == "ChangePassword") { <text> class="active" </text>         }>
                                <a href="/Manage/ChangePassword"><i class="fa fa-angle-double-right"></i> Лозинка</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="treeview @if (ViewBag.CurrentController == "Employees") { <text> active </text>  }">
                        <a href="#">
                            <i class="fa fa-male"></i>
                            <span>Вработени</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li @if (ViewBag.CurrentController == "Employees" && ViewBag.CurrentAction == "Index") { <text> class="active" </text>           }>
                                <a href="/Employees/Index"><i class="fa fa-angle-double-right"></i> Прегледај вработени</a>
                            </li>
                        @if (SiteSession.CurrentUser != null
                            && SiteSession.CurrentUser.Role.RoleId == (int)Roles.Admin)
                        {
                            <li @if (ViewBag.CurrentController == "Employees" && ViewBag.CurrentAction == "Create") { <text> class="active" </text>          }>
                                <a href="/Employees/Create"><i class="fa fa-angle-double-right"></i> Креирај вработен</a>
                            </li>
                        }
                        </ul>
                    </li>

                    <li class="treeview @if (ViewBag.CurrentController == "Clients") { <text> active </text>  }">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>Клиенти</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li @if (ViewBag.CurrentController == "Clients" && ViewBag.CurrentAction == "Index") { <text> class="active" </text>            }>
                                <a href="/Clients/Index"><i class="fa fa-angle-double-right"></i> Прегледај клиенти</a>
                            </li>
                            @if (SiteSession.CurrentUser != null
                                && SiteSession.CurrentUser.Role.RoleId == (int)Roles.Admin)
                            {
                                <li @if (ViewBag.CurrentController == "Clients" && ViewBag.CurrentAction == "Create") { <text> class="active" </text>           }>
                                    <a href="/Clients/Create"><i class="fa fa-angle-double-right"></i> Креирај клиент</a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="treeview @if (ViewBag.CurrentController == "Contracts") { <text> active </text>  }">
                        <a href="#">
                            <i class="fa fa-file-text-o"></i>
                            <span>Договори</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li @if (ViewBag.CurrentController == "Contracts" && ViewBag.CurrentAction == "Index") { <text> class="active" </text>             }>
                                <a href="/Contracts/Index"><i class="fa fa-angle-double-right"></i> Прегледај договори</a>
                            </li>
                            @if (SiteSession.CurrentUser != null
                                && SiteSession.CurrentUser.Role.RoleId == (int)Roles.Admin)
                            {
                                <li @if (ViewBag.CurrentController == "Contracts" && ViewBag.CurrentAction == "Create") { <text> class="active" </text>            }>
                                    <a href="/Contracts/Create"><i class="fa fa-angle-double-right"></i> Креирај договор</a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="treeview @if (ViewBag.CurrentController == "Products") { <text> active </text>  }">
                        <a href="#">
                            <i class="fa fa-floppy-o"></i>
                            <span>Производи</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li @if (ViewBag.CurrentController == "Products" && ViewBag.CurrentAction == "Index") { <text> class="active" </text>              }>
                                <a href="/Products/Index"><i class="fa fa-angle-double-right"></i> Прегледај производи</a>
                            </li>
                            @if (SiteSession.CurrentUser != null
                                && SiteSession.CurrentUser.Role.RoleId == (int)Roles.Admin)
                            {
                                <li @if (ViewBag.CurrentController == "Products" && ViewBag.CurrentAction == "Create") { <text> class="active" </text>             }>
                                    <a href="/Products/Create"><i class="fa fa-angle-double-right"></i> Креирај производ</a>
                                </li>
                            }
                        </ul>
                    </li>



                    
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.TitleDescription</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> Работна табла</a></li>
                    @if (ViewBag.CurrentController == "Home")
                    {
                        if (ViewBag.CurrentAction == "Index")
                        {
                            <li class="active"></li>
                        }
                        else
                        {
                            <li class="active">@ViewBag.Title</li>
                        }
                    }
                    else
                    {
                        if (ViewBag.CurrentAction == "Index")
                        {
                            <li>@ViewBag.Title</li>
                        }
                        else
                        {
                            string controllerName = ViewBag.CurrentController;
                            if (ViewBag.CurrentController == "Manage")
                            {
                                controllerName = "Профил";
                            }
                            else if (ViewBag.CurrentController == "Employees")
                            {
                                controllerName = "Вработени";
                            }
                            else if (ViewBag.CurrentController == "Clients")
                            {
                                controllerName = "Клиенти";
                            }
                            else if (ViewBag.CurrentController == "Contracts")
                            {
                                controllerName = "Договори";
                            }
                            else if (ViewBag.CurrentController == "Products")
                            {
                                controllerName = "Производи";
                            }
                            <li><a href="@String.Format("/{0}", ViewBag.CurrentController)"> @controllerName</a></li>

                            <li class="active">@ViewBag.Title</li>
                        }
                    }
                </ol>

            </section>
            <!-- Main content -->
            <section class="content">
                @Html.Partial("_Alerts")
                @RenderBody()
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/mvcfoolproof.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/custom/jquery-combobox.js" type="text/javascript"></script>

    <!-- Jquery Multifilter Selectlist -->
    <script type="text/javascript" src="~/Scripts/jquery.multiselect.widget/jquery.multiselect.min.js"></script>

    <script src="~/Scripts/AdminLTE/app.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
