﻿@using PisCRM.Models

@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Грешка";
    Layout = null;
}

<!DOCTYPE html>
<html class="lockscreen">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Content/Template/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="form-box" id="login-box">
        <div class="header">@ViewBag.Title</div>
            <div class="body bg-gray">
                <h2 class="text-danger center">Грешка.</h2>
                <h3 class="text-danger center">Настана неочекувана грешка при процесирањето.</h3>
                <p>Message: @Model.Exception.Message</p>
                <p>Stack Trace: @Model.Exception.StackTrace</p>
                <p>Inner Exception: @Model.Exception.InnerException.StackTrace</p>
            </div>
        <div class="footer">
            @Html.ActionLink("Назад кон почетна", "Index", "Home", null, new { @class="btn bg-olive btn-block" })
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminLTE/app.js" type="text/javascript"></script>
</body>
</html>

