﻿span.field-validation-error {
    color: red;
}

.alert.no-gutter {
padding-left: 15px;
margin-left: 0;
}

.alert.custom-validation {
    margin-top: 15px;
}

.alert.custom-validation.valid {
    display: none;
}

.alert.custom-validation.invalid {
    display: block;
}

.alert.custom-validation span {
    color: #a94442;
}

.center {
    text-align: center;
}

.artist-item {
    margin: 10px;
}

.artist-item .artist-name {
    margin-right: 10px; 
    color: #367fa9; 
    font-weight: bold;
}

.artist-item .artist-remove {
    padding: 0 7px;
    margin-top: -4px;
}

ul.pagination li a[data-page-number] {
    cursor: pointer;
}

button[data-clear-search-btn] {
    margin-left: 5px !important;
}

.custom-combobox {
  width: 100%;
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute !important;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  width: 93%;
  margin: 0;
  padding: 5px 10px;
}
/*.alert-container {
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 3em;
    padding-right: 3em;
}*/