﻿@model PisCRM.Models.PersonalInfoViewModel
@{
    ViewBag.Title = "Лични податоци";
    ViewBag.TitleDescription = "Промени лични податоци";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            @using (Html.BeginForm("PersonalInfo", "Manage", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="" for="" style="display: block; clear: both;">Email: </label>@ViewBag.Email
                    </div>

                    @Html.EditorForModel()

                    <div class="form-group" data-property-name="file">
                        <label class="" for="file" style="display: block; clear: both;">Профилна слика</label>
                        <img src="@ViewBag.ProfilePictureUrl" style="width: 120px; margin-bottom: 10px;" />
                        <input class="upload" type="file" id="file" accept="image/*" name="file" onchange="fileSelected('image', 'file')" />
                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Зачувај промени" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

