﻿@model PisCRM.Models.Products.CreateEditViewModel
@{
    ViewBag.Title = "Креирај производ";
    ViewBag.TitleDescription = "Креирај нов производ";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.EditorForModel()

                    <div class="form-group" data-property-name="file">
                        <label class="" for="file">Прикачи фајлoви:</label>
                        <input class="upload" type="file" id="file" accept="image/*" name="file" onchange="fileSelected('image', 'file')" />
                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Креирај производ" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>