﻿@model PagedData<Product>

@{ Layout = null; }

<div class="box-header">
</div><!-- /.box-header -->
<div class="box-body table-responsive">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <div class="dataTables_filter" id="example1_filter" style="text-align: right;">
                    <input type="text" class="form-control" value="@Model.SearchWord" id="searchWord" placeholder="Барај по име..." style="min-width: 300px;">
                    <span class="input-group-btn" style="display: inline;">
                        <button type="submit" name="search" data-search-btn="true" class="btn btn-info btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                        @if (!string.IsNullOrEmpty(Model.SearchWord))
                        {
                            <button class="btn btn-warning btn-flat" data-clear-search-btn="true">Избриши барање</button>
                        }
                    </span>
                </div>
            </div>
        </div>
        <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
            <thead>
                <tr role="row">
                    <th role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Row number: activate to sort column descending">#</th>
                    <th role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending">Име</th>
                    <th role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending">Опис</th>
                    <th role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending">Документи</th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                </tr>
            </thead>

            @{ int nrOfRows = 0; }
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model.Data)
                {
                    nrOfRows++;
                    int currentNumber = (Model.CurrentPage - 1) * Model.PageSize + nrOfRows;

                    <tr class="@if (currentNumber % 2 != 0) { <text>odd</text> } else { <text>even</text> }">
                        <td class="sorting_1">@currentNumber.ToString()</td>
                        <td class=" ">@item.Name</td>
                        <td class=" ">@item.Description</td>
                        <td class=" ">Фајлови</td>
                        <td class=" ">@Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class = "btn btn-success" })</td>
                        @*@if (SiteSession.CurrentUser != null
                            && SiteSession.CurrentUser.Role.RoleId == (int)Roles.Admin)
                        {*@
                            <td class=" ">@Html.ActionLink("Промени", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                            <td class=" ">@Html.ActionLink("Избриши", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                        @*}*@
                    </tr>
                }
            </tbody>
        </table>
        @Helpers.Pager(Model.ItemCount, Model.CurrentPage, Model.PageCount, Model.PageSize, "производи")
    </div>
</div><!-- /.box-body -->
