﻿@{
    ViewBag.Title = "Недозволен пристап";
    ViewBag.TitleDescription = "";
}

<div class="error-page">
    <h2 class="headline text-info"> 403</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Недозволен пристап.</h3>
        <p>
            Немате пермисии за пристап во оваа секција! Побарајте помош од Вашиот администратор.
            Назад кон <a href='/home'>почетна</a>.
        </p>
    </div>
</div>