﻿@model PisCRM.Contracts.Client

@{ ViewBag.Title = "Детали - " + Model.Name;
 ViewBag.TitleDescription = "";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            <div class="box-body">
                <div class="form-group">
                    <label>Име и презиме: </label>@Model.Name
                </div>

                <div class="form-group">
                    <label>Email адреса: </label>@Model.Email
                </div>

                <div class="form-group">
                    <label>Компанија: </label>@Model.Company
                </div>
                <div class="form-group">
                    <label>Проекти: </label>@Model.Projects
                </div>

                @*<div class="form-group" data-property-name="file">
                    <label class="" for="file" style="display: block; clear: both;">Профилна слика</label>
                    <img src="@Model.ProfilePictureUrl" style="width: 120px; margin-bottom: 10px;" />
                </div>*@

            </div>
        </div>
    </div>
</div>