﻿@using System.Web.Mvc;

@helper Pager(int itemCount, int currentPage, int pageCount, int pageSize, string label)
{
    <div class="row">
        @if (itemCount > 0)
        {
            <div class="col-xs-6">
                @if (itemCount <= currentPage * pageSize)
                {
                    <div class="dataTables_info" id="example1_info">@(((currentPage - 1) * pageSize) + 1) - @itemCount од @itemCount @label</div>
                }
                else
                {
                <div class="dataTables_info" id="example1_info">@(((currentPage - 1) * pageSize) + 1) - @(currentPage * pageSize) од @itemCount @label</div>
                }
            </div>

            <div class="col-xs-6">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination">
                        @if (currentPage > 1)
                        {
                            <li class="prev">
                                <a data-page-number="@(currentPage - 1)">← Претходна</a>
                            </li>
                        }
                        @if (currentPage > 3)
                        {
                            <li><a data-page-number="1">1</a></li>
                        }
                        @if (currentPage > 4)
                        {
                            <li><a>...</a></li>
                        }
                        @if (currentPage > 4 && pageCount < 7)
                        {
                            <li><a data-page-number="@(currentPage - 3)">@(currentPage - 3)</a></li>
                        }
                        @if (currentPage > 2)
                        {
                            <li><a data-page-number="@(currentPage - 2)">@(currentPage - 2)</a></li>
                        }
                        @if (currentPage > 1)
                        {
                            <li><a data-page-number="@(currentPage - 1)">@(currentPage - 1)</a></li>
                        }
                        @if (pageCount > 1)
                        {
                            <li class="active"><a>@currentPage</a></li>
                        }
                        @if (currentPage + 1 <= pageCount)
                        {
                            <li><a data-page-number="@(currentPage + 1)">@(currentPage + 1)</a></li>
                        }
                        @if (currentPage + 2 <= pageCount)
                        {
                            <li><a data-page-number="@(currentPage + 2)">@(currentPage + 2)</a></li>
                        }
                        @if (currentPage + 3 < pageCount)
                        {
                            <li><a>...</a></li>
                        }
                        @if (currentPage + 3 <= pageCount)
                        {
                            <li><a data-page-number="@pageCount">@pageCount</a></li>
                        }
                        @if (currentPage != pageCount)
                        {
                            <li class="next"><a data-page-number="@(currentPage + 1)">Следна → </a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}

@helper SortUrlWithParameter(string value)
{
    var parameter = "sort";

    if (Request.QueryString[parameter] == null)
    {
        @UrlWithParameter(parameter, value, "direction", "asc")
    }
    else
    {
        if (Request.QueryString[parameter] == value)
        {
            if (Request.QueryString["direction"] == null || Request.QueryString["direction"] == "desc")
            {
                @UrlWithParameter(parameter, value, "direction", "asc")
            }
            else
            {
                @UrlWithParameter(parameter, value, "direction", "desc")
            }
        }
        else
        {
            @UrlWithParameter(parameter, value, "direction", "asc")
        }
    }
}
@helper UrlWithParameter(string parameter, int value)
{
    @UrlWithParameter(parameter, value.ToString())
}
@helper UrlWithParameter(string parameter, string value)
{
    @UrlWithParameter(parameter, value, null, null)
}
@helper UrlWithParameter(string parameter, string value, string secondParameter, string secondParameterValue)
{
    bool exist = false;
    bool existSecond = false;
    bool first = true;

    var result = new System.Text.StringBuilder("?");

    foreach (var key in Request.QueryString.AllKeys)
    {
        if (first)
        {
            first = false;
        }
        else
        {
            result.Append("&");
        }

        if (key.Equals(parameter))
        {
            result.AppendFormat("{0}={1}", parameter, value);
            exist = true;
        }
        else if (key.Equals(secondParameter))
        {
            result.AppendFormat("{0}={1}", secondParameter, secondParameterValue);
            existSecond = true;
        }
        else
        {
            result.AppendFormat("{0}={1}", key, Request.QueryString[key]);
        }
    }

    if (!exist)
    {
        if (!first)
        {
            result.Append("&");
        }

        result.AppendFormat("{0}={1}", parameter, value);
    }
    if (secondParameter != null && !existSecond)
    {
        result.AppendFormat("&{0}={1}", secondParameter, secondParameterValue);
    }

    @MvcHtmlString.Create(result.ToString())
}
