﻿@using PisCRM.Models

@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="lockscreen">
<head>
    <meta charset="UTF-8">
    <title>PIS CRM | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Content/Template/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="form-box" id="login-box">
        <div class="header">PIS CRM</div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.CustomValidationSummary("")
            <div class="body bg-gray">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email адреса" })
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Лозинка" })
                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="footer">
                <input type="submit" value="Најава" class="btn bg-olive btn-block" />

                <p class="center">
                    @Html.ActionLink("Заборавена лозинка?", "ForgotPassword", null, new { @class = "center" })
                </p>

                @*<p>
                        @Html.ActionLink("Register as a new user", "Register", null, new { @class="text-center" })
                    </p>*@
            </div>
        }
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery.multiselect.widget/jquery.multiselect.min.js"></script>
    <script src="~/Scripts/AdminLTE/app.js" type="text/javascript"></script>
</body>
</html>