﻿@using PisCRM.Models

@{
    ViewBag.Title = "Потврда за променета лозинка";
    Layout = null;
}

<!DOCTYPE html>
<html class="lockscreen">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Content/Site.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Content/Template/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="form-box" id="login-box">
        <div class="header">@ViewBag.Title</div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="body bg-gray">
                <p class="center">
                    Вашата лозинка е успешно променета.<br style="clear: both;" /> Ве молиме кликнете
                    @Html.ActionLink("тука ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    за да се логирате на системот.
                </p>
            </div>
        }
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminLTE/app.js" type="text/javascript"></script>
</body>
</html>