﻿@{
    ViewBag.Title = "Работна табла";
    ViewBag.TitleDescription = "";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    46
                </h3>
                <p>
                    Вработени
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">
                Повеќе <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    14
                </h3>
                <p>
                    Клиенти
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                Повеќе <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    74
                </h3>
                <p>
                    Договори
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">
                Повеќе <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    16
                </h3>
                <p>
                    Проекти
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="/#" class="small-box-footer">
                Повеќе <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->
<!-- Main row -->
<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        <!-- Info box -->
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Договори што ќе истечат во наредните 3 месеци</h3>
            </div>
            <div class="box-body">
                @*@if (Model.Agreements.Any())
                {
                    <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Row number: activate to sort column descending" style="width: 190px;">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 275px;">Release Date</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 275px;">Term(In Years)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 275px;">Expire Date</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 275px;">Contractual Partners</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 275px;">Songs</th>
                                <th rowspan="1" colspan="1"></th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">#</th>
                                <th rowspan="1" colspan="1">Release Date</th>
                                <th rowspan="1" colspan="1">Term(In Years)</th>
                                <th rowspan="1" colspan="1">Expire Date</th>
                                <th rowspan="1" colspan="1">Contractual Partners</th>
                                <th rowspan="1" colspan="1">Songs</th>
                                <th rowspan="1" colspan="1"></th>
                            </tr>
                        </tfoot>
                        @{ int nrOfRows = 0; }
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.Agreements)
                            {
                                nrOfRows++;

                                <tr class="@if (nrOfRows % 2 != 0) { <text>odd</text> } else { <text>even</text> }">
                                    <td class="sorting_1">@nrOfRows.ToString()</td>
                                    <td class=" ">@item.DateSigned.ToShortDateString()</td>
                                    <td class=" ">@item.Term</td>
                                    <td style="color: red;" class=" ">@item.DateSigned.AddYears(item.Term).ToShortDateString()</td>
                                    <td class=" ">
                                        @if (item.AgreementArtists != null && item.AgreementArtists.Any())
                                        {
                                            foreach (var artist in item.AgreementArtists)
                                            {
                                                <span>
                                                    @(!String.IsNullOrEmpty(artist.Artist.ProjectName) ? artist.Artist.ProjectName :
                                                        (!String.IsNullOrEmpty(artist.Artist.ArtistName) ? artist.Artist.ArtistName : artist.Artist.RealName))
                                                </span>
                                                <br />
                                            }
                                        }
                                    </td>
                                    <td class=" ">
                                        @if (item.AgreementSongRoyaltyOnSales != null && item.AgreementSongRoyaltyOnSales.Any())
                                        {
                                            foreach (var song in item.AgreementSongRoyaltyOnSales)
                                            {
                                                var songArtists = song.Song.SongArtists.Select(s => s.Artist);

                                                <span>
                                                    @song.Song.Name (@String.Join(",", songArtists.Select(sa => (!String.IsNullOrEmpty(sa.ProjectName) ? sa.ProjectName :
                                                    (!String.IsNullOrEmpty(sa.ArtistName) ? sa.ArtistName : sa.RealName)))))
                                                </span>
                                                <br />
                                            }
                                        }
                                    </td>
                                    <td class=" ">@Html.ActionLink("Update", "Edit", "Agreements", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Currently, there are no Agreements that will expire in three months from now.</p>
                }*@
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div><!-- /.row (main row) -->