﻿@model Contract
    @{
        ViewBag.Title = "Избриши договор";
        ViewBag.TitleDescription = "";
    }

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">

                @using (Html.BeginForm("Delete", "Contracts", FormMethod.Post, new { role = "form" }))
            {
                    <div class="box-body">
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.Id)
                        <p>
                            Дали сте сигурни дека сакате да го избришете договорот: <b>@Model.Name </b>?
                        </p>
                        <p>Акцијата е неповратна!</p>

                        <div class="box-footer">
                            <input type="submit" value="Избриши договор" class="btn btn-danger" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>