﻿@model Contract

@{ ViewBag.Title = "Детали - " + Model.Name;
    ViewBag.TitleDescription = "";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            <div class="box-body">
                <div class="form-group">
                    <label>Име: </label>@Model.Name
                </div>

                <div class="form-group">
                    <label>Опис: </label>@Model.Description
                </div>

                <div class="form-group">
                    <label>Почетен датум: </label>@Model.StartDate
                </div>
                <div class="form-group">
                    <label>Краен Датум: </label>@Model.EndDate
                </div>
                <div class="form-group">
                    <label>Клиент: </label>@Model.Client.Name
                </div>

            </div>
        </div>
    </div>
</div>