﻿@model dynamic

@foreach (var prop in ViewData.ModelMetadata.Properties
    .Where(p => p.ShowForEdit))
{
    if (prop.TemplateHint == "HiddenInput")
    {
        @Html.Hidden(prop.PropertyName)
    }
    else if (prop.PropertyName == "ArtistSharePercent" || prop.PropertyName == "TotalCost")
    {
        <div class="form-group">
            @Html.BootstrapLabel(prop.PropertyName)
            @Html.TextBox(prop.PropertyName, null, new { @class = "form-control", placeholder = ViewData.ModelMetadata.Watermark })
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    }
    else if (prop.PropertyName == "File")
    {
        <div class="form-group">
            @Html.BootstrapLabel(prop.PropertyName)
            <input type="file" id="@prop.PropertyName" name="@prop.PropertyName">
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    }
    else if (prop.PropertyName == "RoleId")
    {
        <div class="form-group">
            @Html.BootstrapLabel(prop.PropertyName)
            @Html.Partial("~/Views/Shared/EditorTemplates/RoleId.cshtml", prop.Model)
        </div>
    }
    else if (prop.PropertyName == "ClientId")
    {
        <div class="form-group">
            @Html.BootstrapLabel(prop.PropertyName)
            @Html.Partial("~/Views/Shared/EditorTemplates/ClientId.cshtml", prop.Model)
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    }
    else if (prop.PropertyName == "ProfilePictureUrl")
    {
        <div class="form-group" data-property-name="file">
            <label class="" for="file" style="display: block; clear: both;">Профилна слика</label>
            <img src="@prop.Model.ToString()" style="width: 120px; margin-bottom: 10px;" />
            <input class="upload" type="file" id="file" accept="image/*" name="file" onchange="fileSelected('image', 'file')" />
        </div>
    }
    @*else if (prop.ModelType.Name == "Decimal")
    {
        <div class="input-group">
            <span class="input-group-addon">@prop.PropertyName</span>
            @Html.Editor(prop.PropertyName)
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    }*@
    else
    {
        <div class="form-group" data-property-name="@prop.PropertyName">
            @Html.BootstrapLabel(prop.PropertyName)
            @Html.Editor(prop.PropertyName)
            @Html.ValidationMessage(prop.PropertyName)
        </div>
    }
}